
  <div class="row mt-3">
   <!-- Barra di ricerca al centro -->
      <div class="col-8 mx-auto">
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            placeholder="Cerca quartieri di Chicago..."
            #searchInput
            (keyup.enter)="searchLocation(searchInput.value)"
          />
          <button class="btn btn-outline-secondary" type="button" (click)="searchLocation(searchInput.value)">
            <i class="bi bi-search">search</i>
          </button>
        </div>
      </div>
    </div>

  <!-- Sezione per la mappa fullscreen -->
  <div id="map" class="container-fluid" ></div>
  
  <!-- Bottone '+' in basso a destra -->
  <button class="btn btn-primary btn-add">+</button>
  
  <!-- Switch in basso a sinistra -->
  <div class="switch-container">
    <div class="form-check form-switch" >
      <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" (change)="onSwitchChange($event)">
      <label class="form-check-label" for="flexSwitchCheckDefault" >Switch</label>
    </div>
  </div>

<div class="container">
  <div *ngIf="this.mappaType">
    <div class="p-3 m-3 row">
      <div *ngFor = 'let post of posts' class="col-4 mb-3">
          <app-post [post] = 'post'></app-post>
      </div>
  </div>
  </div>
  <div class="tabella">
    <h2>Tabella dei Crimini</h2>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>ID</th>
          <th>Arresto</th>
          <th>Numero Caso</th>
          <th>Data</th>
          <th>Descrizione</th>
          <th>Domestico</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let crimine of formattedData">
          <td>{{ crimine.id }}</td>
          <td>{{ crimine.arrest }}</td>
          <td>{{ crimine.case_number }}</td>
          <td>{{ crimine.date }}</td>
          <td>{{ crimine.description }}</td>
          <td>{{ crimine.domestic }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>