<div *ngIf = '!(this.utente)' style="display: flex; justify-content: center; align-items: center; height: 100vh;">
    <h3>Loading...</h3>
</div>
<div  *ngIf = 'this.utente' class="container card mt-5 p-5" id="page">
    <div class="row">
        <div class="col-md-2">
            <img src="https://t4.ftcdn.net/jpg/02/15/84/43/360_F_215844325_ttX9YiIIyeaR7Ne6EaLLjMAmy4GvPC69.jpg" class="img-fluid rounded-circle" alt="Profile Picture">
        </div>
        <div class="col-md-5 mb-4">
            <h1>{{this.utente.displayName}}</h1>
            <p>Location: Prato</p>
            <p>Bio: Cerco di finire questo cerchio</p>
            
        </div>
        
        <!-- Posts -->
        <div class="p-3 m-3 row">
            <div *ngFor = 'let post of posts' class="col-4 mb-3">
                <app-post [post] = 'post'></app-post>
            </div>
        </div>
    </div>
</div>