<div id="map" style="height: 800px; border-color: #4169e1; border-width: 5px;"></div>
<br>
<div>
    <h2>Tabella dei Crimini</h2>
    <table border="1" style="width: 100%; border-collapse: collapse;">
        <thead>
        <tr>
            <th>ID</th>
            <th>Arresto</th>
            <th>Numero Caso</th>
            <th>Data</th>
            <th>Descrizione</th>
            <th>Domestico</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let crimine of formattedData">
            <td>{{ crimine.id }}</td>
            <td>{{ crimine.arrest}}</td>
            <td>{{ crimine.case_number }}</td>
            <td>{{ crimine.date}}</td>
            <td>{{ crimine.description }}</td>
            <td>{{ crimine.domestic}}</td>
        </tr>
        </tbody>
    </table>
</div>
      

