<div *ngIf = "!results" style="display: flex; justify-content: center; align-items: center; height: 100vh;">
    <h3>Loading...</h3>
</div>
<div class="container">
    <div *ngIf="results">
        <h2>Utenti Trovati:</h2>
        <div style="display: flex; flex-wrap: wrap; width: 100%;">
            <div *ngFor="let user of results">
                <a href="/user/{{user.uid}}" style="text-decoration: none; color: inherit;">
                    <div class="p-2 m-2" style="display: flex; align-items: center; border: 1px solid rgb(94, 94, 94); border-radius: 10px; width: fit-content;;">
                        <img src="{{user.photoURL}}" alt="pfp" class="img-fluid rounded-circle" style="height: 50px" onerror="this.src='assets/img/nopfp.png'">
                        <h4 class="card-title col-8 m-2">{{user.displayName}}</h4>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <h3 *ngIf = "results.error" class="text-danger">Nessun utente trovato</h3>
</div>